@use "abstracts/mixing" as *;
@use "abstracts/index" as *;
@use "ui/breadcrumb";
@use "ui/search";
@use "ui/item";
@use "player/player";
@use "player/audio";
@use "player/metadata";
body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
  user-select: none;
  padding-bottom: 80px;
}
